.git
.gitignore
.venv
__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache
.mypy_cache
.ruff_cache
db.sqlite3
media
staticfiles
build
dist
node_modules
npm-debug.log
yarn-error.log
.DS_Store.env
.env.*
!.env.example
docs
export_bundles
*.sqlite3
